/* style for melee damage grid */
.sheet-rq35-melee-damage {
    display: grid;
    width: 860px;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns:  160px repeat(7, 100px);
    grid-template-rows: auto;
}
.sheet-rq35-melee-damage div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 8;
}
.sheet-rq35-melee-damage div.repitem {
    display: inline-grid;
    width: 860px;
    grid-template-columns: 160px repeat(7, 100px);
    grid-template-rows: auto;
}
.charsheet .sheet-rq35-melee-damage label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px;
}
.charsheet .sheet-rq35-melee-damage input {
    margin-left: auto;
    margin-right: auto;
}
.sheet-rq35-melee-damage div.repcontainer input[type="text"] {
    margin-left: auto;
    margin-right: auto;
    width: 130px;
}
.sheet-rq35-melee-damage div.repcontainer input.sheet-small-text {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}
.charsheet .sheet-rq35-melee-damage div.repcontainer button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}
/* modifier buttons */
div.sheet-rq35-melee-damage div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 8;
    padding: 10px 20px 5px 20px;
}
