/* style for dragon skills grid */
.sheet-rq35-dragon-skills {
    display: grid;
    width: 860px;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: 80px 180px 80px 80px 80px repeat(3, 120px);
    grid-template-rows: auto;
}
.sheet-rq35-dragon-skills div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 7;
}
.sheet-rq35-dragon-skills div.repcontainer div.repitem {
    display: inline-grid;
    width: 860px;
    grid-template-columns: 80px 180px 80px 80px 80px repeat(3, 120px);
    grid-template-rows: auto;
}
.sheet-rq35-dragon-skills  input[type="text"] {
    margin-left: auto;
    margin-right: auto;
    width: 170px;
}
.sheet-rq35-dragon-skills button {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 16px;
    height: 22px;
}
.sheet-rq35-dragon-skills label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-dragon-skills input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
