/* style for spirit skills grid */
.sheet-rq35-spirit-skills {
    display: grid;
    width: 860px;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: 210px 70px 70px 210px repeat(3, 100px);
    grid-template-rows: auto;
}
.sheet-rq35-spirit-skills input[type="text"] {
    margin-left: auto;
    margin-right: auto;
    width: 205px;
}
.sheet-rq35-spirit-skills button {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 16px;
}
.sheet-rq35-spirit-skills label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-spirit-skills input {
    margin-left: auto;
    margin-right: auto;
}

