/* style for held spells grid */
.sheet-rq35-running-spells {
    display: grid;
    width: 860px;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: 80px 190px repeat(4, 90px) 190px;
    grid-template-rows: auto;
}
.sheet-rq35-running-spells div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 7;
}
.sheet-rq35-running-spells div.repcontainer div.repitem {
    display: inline-grid;
    width: 860px;
    grid-template-columns: 80px 190px repeat(4, 90px) 190px;
    grid-template-rows: auto;
}
.sheet-rq35-running-spells div.repcontainer input[type="text"] {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
.sheet-rq35-running-spells div.repcontainer button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}
.sheet-rq35-running-spells label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-running-spells input {
    margin-left: auto;
    margin-right: auto;
}
/* sorcery-spells multiline display */
.sheet-rq35-running-spells div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 8;
    padding: 10px 20px 5px 20px;
}
