/* style for sorcery rituals grid */
.sheet-rq35-sorcery-rituals {
    display: grid;
    width: 860px;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: 180px 100px 100px 90px repeat(3, 130px);
    grid-template-rows: auto;
}
.sheet-rq35-sorcery-rituals div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 6;
}
.sheet-rq35-sorcery-rituals  input[type="text"] {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}
.sheet-rq35-sorcery-rituals  input[type="number"] {
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}
.sheet-rq35-sorcery-rituals button {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 16px;
    height: 22px;
}
.sheet-rq35-sorcery-rituals label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-sorcery-rituals input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
